<div style="padding-top:30px;" class="container">
  <div class="row">
    <ul style="max-height: 800px; overflow-y: scroll;    background-color: #F0F0F0;" id="agreeUl">
      <li class="bold">A．简介</li>

      <li>1、一旦使用和/或访问TURF7.com网站任意内容（包括子域）或我们拥有的任何其他网站或应用（“网站”）和/或一旦注册网站，即表示你同意遵守下列第2条款中深入阐述的我方投注或博彩产品条款条件（统称“条款”），视为你已理解并接受所有条款。请仔细阅读条款，如不能接受条款，请不要使用网站。条款同样适用于所有电话投注及通过移动设备包括移动设备下载的应用程序而下定的投注或博彩（网站使用参考说明即电话投注和/或移动设备投注设备的参考说明）。</li>

      <li>2、一旦使用网站开始游戏、下注或博彩，即表示你同意并接受网站上有效适用产品的规则。</li>

      <li>3、我们出于某些原因（如为了遵守适用法律法规及监管要求）会随时修改条款。所有修改内容都将在网站上公布。网站上可查看最新条款内容。如你无法接受修改后的条款，请停止使用网站和/或关闭账户。但如你在修改条款生效后继续使用网站，视为你已接受修改内容。</li>

      <li>4、 “你”、“你的”或“客户”指的是使用网站或接受TURF7服务的人员和/或TURF7注册客户。</li>

      <li>5、正如你所知，在某些国家（如美国）访问和/或使用该网站（包括网站提供任何或所有产品）属于非法行为。你有责任确定访问和/或使用该网站是否符合所在司法管辖区的适用法律，并向我方保证博彩在你所居住的地方不违反法律。</li>


      <li class="bold">B．TURF7账户</li>

      <li>1、申请</li>

      <li>1.1 所有申请者通过TURF7下注/赌博或注册TURF7必须年满18岁。TURF7保留要求客户提供年龄证明并暂停使用账户直到客户提交满意资料的权利。TURF7对未成年赌博及有节制赌博负有重大责任。</li>

      <li>1.2 注册网站时提供的所有信息必须准确完整。特别注意的是，如使用信用卡或借记卡，持卡人姓名必须与网站注册时所使用的名称一致。一旦出现姓名不一致，有关账户将被暂停使用。账户被暂停后，客户应联系我们。账户停用前的所有赌注仍然有效——无论输赢。</li>

      <li>1.3 TURF7通过给客户邮寄地址验证信函确认客户地址。信函内附规则手册、说明书及电话投注卡。所有通信谨慎进行，信封上不显示任何TURF7信息。开始通信后，所有投注和取款请求保持待定状态直到确认正确地址为止。 </li>

      <li>1.4 我方要求和/或根据适用法律法规和/或由有关监管部门要求在使用该网站及我方普通产品时应提供身份信息、信用信息及其他验证信息，如你接受条款和/或注册使用该网站即表示你同意我方有权核实身份信息、信用信息及其他验证信息。你同意按我方要求提供有关核实验证的所有信息。我方有权以适当方式暂停或限制你的账户，直到相关验证符合我方要求，由我方全权决定。</li>

      <li>1.5 作为注册过程的一部分，我方可向授权信用参考机构提供你的信息细节，以确认身份及支付卡信息。你同意我方可以处理与注册相关的信息。</li>

      <li>1.6 客户只能注册一个账户。我方应核实不止一个账户的客户，我方保留视这类账户为联合账户的权利。 </li>

      <li>1.7 客户须保持时时更新注册信息及账户详情。注册详情与账户信息可在网站个人部分进行修改。如需要任何帮助，请联系我们。</li>

      <li class="bold">2、账户详情</li>

      <li>2.1 TURF7允许用户选择用户名与密码。客户必须对用户名及密码保密，因为你需对账户下的投注及其他活动负责。</li>

      <li>2.2 正确输入用户名和密码（无论是否由你授权），投注即成立，但以账户足够资金为准。</li>

      <li>2.3 如你觉得第三方知道了你的用户名和/或密码，请立即通过网站修改。如忘记了用户名或密码，请联系我们。 &nbsp;</li>

      <li>2.4 你需确认所有电话投注交易中的名字和账户号码或名称及用户名正确输入（无论是否由你授权）。如你指定其他人为账户授权用户，你需对授权用户利用帐户详情进行的所有交易负责。如丢失账户信息或感觉别人知道了账户详细资料，请联系我们。</li>

      <li>2.5 请注意，不应通过加密电子邮件给我方发送持卡人信息及其他敏感数据。</li>

      <li>2.6 在网站上登录账户后可随时查看账户当前余额和交易历史。</li>

      <li class="bold">3.、暂停与关闭</li>

      <li>3.1 如想关闭账户，请联系我们。账户欠款将立即期满，应马上支付给TURF7，全部付清TURF7欠款后，账户才会关闭。</li>

      <li>3.2 TURF7有权以任何理由随时关闭或暂停你的账户。但不仅仅局限于上述条款限制，如出现下列情况，TURF7有权关闭或暂停你的账户：</li>

      <li>（a）破产；</li>

      <li>（b）TURF7认为你采取欺诈方式使用该网站或以违法和/或非法或不正当目的使用该网站；</li>

      <li>（c）TURF7认为你以不公平方式使用该网站或故意欺骗或不正当利用TURF7或其客户；</li>

      <li>（d）TURF7按照警察、监管机构或法院要求；</li>

      <li>（e）TURF7认为（a）至（c）中出现的情况已经发生或可能会发生；或</li>

      <li>（f）账户处于休眠状态，或按照下述B5.1条款余额为零或接近为零。</li>

      <li>3.3 如TURF7出于上述（a）至（e）中提到的任何原因关闭或暂停你的账户，你应对TURF7因此所遭受的任何所有索赔、损失、责任、损害、成本与费用（统称为“索赔”）负责，赔偿TURF7，保护TURF7免受这类索赔损害。上述（a）至（e）中出现的情况，TURF7亦有权扣压和/或保留已支付给你或应支付给你的所有款项（包括任何奖金或分红）。</li>

      <li class="bold">4、休眠账户</li>

      <li>4.1 TURF7将按照以下方式对连续至少365天“处于不活跃状态”的账户收取管理费。任何期间账户未发生下述行为，将视账户“处于不活跃状态”：（i）存进一笔款项；（ii）投注体育或金融赌注；或（iii）参与TURF7产品活动。 </li>

      <li>（a）如账户连续365天处于“不活跃状态，那么将视账户处于“休眠”，如账户余额为零，将关闭账户，不产生任何费用。</li>

      <li>（b）如账户视为休眠帐户，且账户有余额，TURF7将利用注册（或更新）过程中你提供的详细信息采取合理方式通知你。</li>

      <li>（c）如账户处于休眠状态，在TURF7第一次通知你账户休眠至少28天后，TURF7将从账户余额中扣除每月管理费2美元（或等值货币），或在账户视为休眠账户时，从账户余额中扣除5%费用（以较高者为准）。</li>

      <li>（d）根据上述（c）条款计算得出的管理费，应在上述提到的28天通知期到期后从账户余额中扣除，此后每隔28天以同样费率收取，直到：（i）没有进一步从账户中扣除管理费，账户余额为零，账户将关闭；或（ii）没有进一步从账户中扣除管理费，账户“重新激活”。</li>

      <li>4.2你可以“重新激活”账户：（i）存进一笔款项存款；（ii）投注体育或金融赌注；或（iii）参与TURF7产品活动。</li>

      <li class="bold">C、财政状况

      </li>
      <li>1、存款与赌注

      </li>
      <li>1.1 你只能利用账户中的清算资金额进行投注/赌博。因此如想投注或参与博彩，你必须在账户中存入款项。

      </li>
      <li>1.2 你存入账户中的钱只能用于在该网站上投注/博彩。如我们合理认为或有理由相信你存钱不是为了投注/赌博，我们有权暂停或关闭账户。我们也会向有关部门报告这种情况。
      </li>
      <li>1.3 如破产，任何存入款项都将得到保护，因为我们银行指定客户账户持有的款项与我们自己账户分离。 &nbsp;

      </li>
      <li>1.4 你同意我们有权保留TURF7账户下款项产生的任何利息收益。

      </li>
      <li>1.5 TURF7员工不会提供任何贷款，所有赌注必须在客户账户资金足够下进行。账户没有足够资金支付赌注/博彩而TURF7无意中接受了这类赌注/博彩时，TURF7有权作废这类投注/博彩。资金错误存入客户账户时，客户有责任立即告知TURF7。TURF7将通过调整账户追回资金。

      </li>
      <li>1.6 除非另有规定，该网站所有示例以马来西亚林吉特计量。对于需要兑换货币的交易，适用汇率为《金融时报》中引用的中间汇率。

      </li>
      <li>1.7 一旦选定货币，均应以该货币单位存入资金，支付赌注，收取彩金。如希望更改所使用的货币，请联系我们。

      </li>
      <li>你只能利用我们的货币兑换服务在该网站投注或赌博（“授权目的”）。除了授权目的外，你无权为了其他任何目的使用该服务（包括货币对冲、投机交易或任何其他货币交易）。如TURF7认为你是为了授权目的以外的其他任何理由使用该网站，TURF7有权关闭或暂停你的账户，你将：

      </li>
      <li>（a）承担由此产生的任何所有索赔费用；

      </li>
      <li>（b）按要求赔偿TURF7因索赔产生的损失。

      </li>
      <li>此外，TURF7有权因你“未经授权”使用网站或与其相关包括不因授权目的的行为而扣留和/或保留你赢得或收到的任何所有金额。

      </li>
      <li class="bold">2、.取款

      </li>
      <li>2.1 可能情况下，款项存入付款账户，所有取款都将在付款账户中操作。支取款项只能以注册账户持有人名义进行，只能转给注册帐户持有人。

      </li>
      <li>2.2 对于大多数付款类型，可点击网站上“取款”按钮进行操作，以投注账户足够资金为准。未设置每日最大取款金额，但如取款金额如大于10000 MYR或等值货币，需额外安排。

      </li>
      <li>2.3 取款前，如存款金额还未全额支付，TURF7有权从客户账户中扣取款项以支付相关存取款产生的合理费用。如有必要，取款金额会相应减少。

      </li>
      <li>2.4 如账户存款方法为Ukash或Paysafecard，取款前，存款金额还未全额支付，或如有证据显示有一系列投注/博彩，无论结局如何，都能保障客户利益，或如所有投注/博彩风险低，TURF7有权要求取款前出示购买收据凭证。

      </li>
      <li class="bold">3、其他

      </li>
      <li>3.1 如账户产生任何拒付、撤销或其他费用，我们有权向你收取相关操作金额手续费。

      </li>
      <li>3.2 我们可随时就你欠TURF7或TURF7集团内任何公司的款项从你账户中扣取金额。

      </li>
      <li>3.3 你应向税务部门或司法管辖区的其他机构申报赌博所得所失。

      </li>
      <li>3.4 互联网赌博在你所在的司法管辖区可能不合法。如非法，你无法授权使用支付卡完成交易。然而，这些司法管辖区已同意的投注/博彩仍然有效——无论输赢。

      </li>
      <li class="bold">D、投注程序

      </li>
      <li class="bold">1、投注/博彩

      </li>
      <li>1.1 TURF7对全权决定拒绝投注/博彩全部或部分要求保留权利。所有投注/博彩由你自己决定，风险自担。

      </li>
      <li>1.2 我们只接受网络（包括通过移动设备或移动设备上的下载应用程序）或电话投注/博彩。不接受其他形式（邮递、电子邮件、传真等）的投注/博彩赌注，收到这类投注/博彩，无论输赢，均视为无效。

      </li>
      <li>1.3 客户有责任确保投注/博彩细节正确无误。一旦投注/博彩下定后，客户不得取消或修改。TURF7保留权利随时取消投注/博彩。
      </li>
      <li>1.4 你的资金将按照投注/博彩下定顺序进行分配，不可用于任何其他用途。TURF7有权在涉及资金分配的投注/博彩下定后使交易无效和/或撤销，无论是在当时还是过后回顾。
      </li>
      <li class="bold">2、投注/博彩确认

      </li>
      <li>2.1 如账户资金不足，投注/博彩将无效。

      </li>
      <li>2.2 运营商完整复述投注/博彩细节，向客户确认投注/博彩/赌已成功接受与处理后，才视为电话投注/博彩“确认同意”。

      </li>
      <li>2.3 TURF7服务器接受后，你要求的投注/博彩才有效。每个有效的投注/博彩都会有一个唯一交易代码。未通过唯一交易代码下定的投注/博彩，我们对这类投注/博彩结算概不负责。如你不确定投注/博彩是否有效，请检查账户历史或联系我们。

      </li>
      <li>2.4 尽管有上述规定，如通过信用卡或借记卡下定投注/博彩，我们收到全部款项前，投注/博彩无效。相关赛事开始前，如我们还未收到款项，投注/博彩自动作废。

      </li>
      <li>2.5 如有争议，你和TURF7同意在争议处理上TURF7交易日志数据库拥有最终权威。

      </li>
      <li class="bold">3、下注

      </li>
      <li>3.1 所有客户下注仅限于一个人名、一个家庭、一个家庭地址、电子邮件地址、电话号码、相同支付账号（如借记卡或信用卡）、相关NETeller或Skrill账户、移动设备（如手机或平板电脑）、应用程序下载或共享计算机（如公共图书馆或工作场所）。

      </li>
      <li>3.2 如违反下注或促销活动条款或有证据显示某一客户或一群客户下了一系列投注/博彩（如常见的投注方式出现在同一设备/市场不同账号中），由于存款分红、款项增加、免费无风险投注/博彩，，或任何其他推广赌注活动，不管结果如何，都能保证客户利润，无论是个人或是集团的一部分，TURF7有权收回这类下注分红部分，TURF7全权决定以正确赔率计算投注/博彩，使免费无风险投注/博彩或通过存款奖金下定的投注/博彩无效。此外，TURF7有权对客户的存款奖金额、免费无风险投注/博彩或额外款项征收管理费用于支付费用。TURF7往客户账户中计入分红、免费无风险投注/博彩或推广赌注信息前，TURF7进一步有权要求客户提供充足的令人满意的客户身份资料，TURF7拥有绝对酌情权。

      </li>
      <li>3.3 下定的投注/博彩赔率选择小于1 / 2不计入彩票奖金要求。TURF7所有活动针对休闲玩家，全权决定参与全部或部分推广赌注活动的客户资格限制。

      </li>
      <li>3.4 TURF7有权随时撤回向任一客户或一群客户提供的任意或所有推广赌注活动，TURF7拥有绝对酌情权。推广赌注活动只适用于在TURF7有真实货币存款的客户。

      </li>
      <li>3.5 TURF7有权随时修改或取消客户的赌注或推广活动。

      </li>
      <li class="bold">4、结算与支付

      </li>
      <li>4.1 所有投注/博彩受附录二中载明的投注适用条款条件（包括最大奖金）约束。

      </li>
      <li>4.2 TURF7有权随时暂停交易和/或取消投注/博彩。交易暂停时，所有下定投注将被拒绝。TURF7无须另行通知，有权随时停止任一交易投注。

      </li>
      <li>4.3 网站上的“回报”计算仅供参考，所有投注将根据赌注/风险以可接受赔率进行计算。复式投注/连本带利接连赌博如有无效选择，“回报”数值相应减少。

      </li>
      <li>4.4 如客户在复式投注/连本带利接连赌博含有不活动或无效选择，投注根据剩余选择进行计算。

      </li>
      <li>4.5 已结算投注/博彩奖金计入到你的投注账户余额中。错误记入账户的任何资金/奖金不可使用，TURF7有权让涉及这类资金的交易无效和/或从账户中取出相关金额，无论当时或回顾过往。

      </li>
      <li>4.6 如TURF7有证据表明出现以下情况，我们有权撤销款项，宣布投注活动无效：（i）赛事完整性受到质疑；（ii）价格或赌注总额被人操控；或（iii）赌局被人操控。上述证据根据通过我们任一投注渠道而下定的投注大小、数量或方式得出。相关体育赌博管理机构关于体育赌博问题（如有）的结论具有决定性。客户不管出于何种理由拖欠TURF7货款，我们有权在给客户转账时考虑扣除这一欠款。

      </li>
      <li>4.7 如有证据表明同一个人或一群人下定的一系列投注每个都含有相同选择，TURF7有权让投注无效或中止支付回报，等待后续调查结果。

      </li>
      <li>4.8 如没有正式“关闭”声明，赛事公告开始时间将被视为“关闭”时间。活动或比赛开始后，如出于任何理由，赌注无意中被接受（而不是网站上明确表示的现场播放投注），如果下定投注时，最终结果仍未知晓，参与人员/团队没有获得任何物质利益（如评分，对方罚下场等等），投注仍有效。如活动/交易结果已知，无论赢输，TURF7有权让投注无效。多次投注纠纷将通过交易日志解决。网站上和/或TURF7工作人员引用的时间与香港时间一致，除非另有说明。

      </li>
      <li>4.9 正在进行的投注——我们有理由相信投注是在活动结果已知或选定参与人员或团队已经获得物质利益（如评分，对方罚下场等）的情况下下定，无论输赢，我们有权让投注无效。

      </li>
      <li>4.10 如出于某种原因（如由于缺少现场图片），我们无法验证某一特定交易结果，所有投注无效，除非投注已经完成结算。

      </li>
      <li>4.11 如客户给出模棱两可的指示，TURF7有权在可能结果之间分割赌注金额。如无法实现，我们有权作废整个投注。任何情况下，TURF7的决定具有最终性。

      </li>
      <li class="bold">E、网站使用

      </li>
      <li class="bold">1、内容资讯

      </li>
      <li>1.1 1.1你在网站上访问的信息（包括结果、统计、体育数据和定期存款列表、赔率和投注数字）仅供你个人使用，严格禁止传播或商业开发这些信息。我们无法保证连续不断地提供这类信息，无法保证其准确性，也无法保证通过这些信息所获得的结果。这些信息不能当做意见或建议，仅供参考作用。投注时不应依赖这类信息，因根据自己判断投注，风险自担。

      </li>
      <li class="bold">2、设备

      </li>
      <li>2.1 2.1你的计算机设备或移动设备及互联网连接会影响网站性能和/或操作。TURF7不保证该网站无故障或无错误操作，也不保证能不间断提供服务。TURF7对因设备、网络连接或网络或电信服务提供商（包括如你不能对特定活动投注或博彩或查看或与接收特定活动信息）引起的失误或问题概不负责。

      </li>
      <li>2.2 TURF7移动客户（包括下载应用程序）下定投注/博彩，请注意TURF7对安装在移动设备上的软件数据损失或丢失概不负责，对因使用该软件产生的电话、数据或其他费用概不承担。


      </li>
      <li class="bold">3、合理使用

      </li>
      <li>3.1 网站和TURF7产品只用于下定赛事和/或游戏产品的赌注。

      </li>
      <li>3.2 你不能以任何（在TURF7看来）非法、诽谤、辱骂、猥亵目的或TURF7认为歧视、欺诈、不诚实或不适当的目的使用网站。
      </li>
      <li>3.3 TURF7针对客户通过网站或TURF7产品参与或与网站或TURF7产品相关的欺诈、不诚实或犯罪行为将寻求刑事与合同制裁。如有上述怀疑行为，TURF7将不予支付客户款项。客户按要求应赔偿TURF7，并支付给TURF7所有因客户欺诈、不诚实或犯罪行为直接或间接引起的索赔金额（如上文条款B.4.3定义）。

      </li>
      <li class="bold">4、软件与硬件问题

      </li>
      <li>4.1 为方便你使用网站上提供的某些产品，你需要下载一些软件（如可通过动画播放器演示的赌场游戏）。此外，某些第三方产品供应商在你使用他们的产品时需要你同意额外条款条件。如你不接受第三方条款条件，请不要使用相关第三方软件。TURF7对第三方软件概不负责。

      </li>
      <li>4.2 你只能为了使用网站产品而去利用网站上提供的任何所有软件，适用法律允许范围内不为任何其他目的保存软件。

      </li>
      <li>4.3 按照下列规定，我们现特授予你私人、非排他性、不可转让使用权以便使用相关软件仅用于使用/播放网站（包括网上赌场）产品。

      </li>
      <li>（a）不允许：（i）在服务器或其他网络设备上安装或卸载软件或采取其他措施让软件可以通过任何形式的“公告板”、在线服务或远程拨号或网络传递给任何其他人；（ii）再授权、转让、租借、出租、借出、转移或复制（除非条款条件有明确描述）你的使用许可权以便使用软件或制作或传播软件副本；（iii）进入、访问或企图进入或访问或其他方式绕过TURF7安全系统或以任何方式（包括但不仅限于机器人及类似设备）干涉相关产品或网站或试图更改软件和/或软件功能或部件；或（iv）复制或翻译任何“联机”提供或电子格式的用户文档。另外，除了计算机程序适用法律所允许的最低程度（包括《版权设计法》第296A（1）章节或《1988年专利法》第50（B）2章节中明确规定的目的），你不允许：（a） 在其基础上翻译、还原、反编译、反汇编、修改、创建衍生作品；（b）根据全部或部分软件还原、反编译、反汇编、修改、改编、翻译、尝试发现软件源代码或创造衍生作品。

      </li>
      <li>（b）你不拥有软件。该软件归TURF7或第三方软件供应商公司（“软件供应商”）所有，是TURF7或第三方软件供应商的专有财产。批准授权给TURF7的软件及随附文件属于软件供应商专有产品，在世界范围内受版权法保护。使用软件，并不代表授予你软件知识产权的所有权。

      </li>
      <li>（c）软件 “照实”提供，没有任何明示或暗示的法定或其他方式的保证、条件、承诺或陈述。TURF7现不承诺所有默示条款、条件和担保（包括任何特定用途的适销性、良好质量与适用性）。TURF7不保证：（i）软件能满足你的要求；（ii）软件没有侵犯第三方知识产权；（iii）软件操作不会出错或不间断；（iv）软件缺陷得到弥补；或（v）软件或服务器没有病毒。

      </li>
      <li>（d）如账户结算或软件其他功能或组件出现通信或系统错误，TURF7和软件提供商无需因这类错误对你或任何第三方负责。在出现这类错误时，TURF7有权从网站上删除所有相关产品，并采取任何其他措施来纠正错误。

      </li>
      <li>（e）你特此承认，你使用软件不受TURF7控制。因此，下载并使用软件，风险自担。TURF7无需因你接受和/或使用软件而对你或第三方负责。

      </li>
      <li>（f）软件可能包含保密信息，属于软件提供商和/或TURF7机密宝贵资料。除了严格遵守条款条件外，你也无权使用或披露保密信息。

      </li>
      <li>4.4 TURF7努力确保网站全天24小时可用，网站在任何时间任何期间不管出于何种理由无法访问，TURF7概不负责。我们有权更改或纠正或变动、暂停或中断网站及其内容或服务或产品，包括你的访问。

      </li>
      <li>4.5 你不得引入病毒、木马、蠕虫、逻辑炸弹或其他恶意或技术上有害的资料以便滥用网站。特别是，未经授权，你不能访问、干扰、破坏或扰乱网站或其任何部分；不能访问网站上存储的任何设备或网络；不能访问与网站使用设备有关的软件； &nbsp;或不能访问第三方拥有或使用的任何设备、软件或网站。你不能通过拒绝服务攻击方式攻击我们的网站。因你使用网站、软件或下载网站上发布的内容或其他链接网站，你的电脑设备、计算机程序、数据或其他专有材料受到布式拒绝服务攻击、病毒或其他有害的技术资料的感染而引起的任何损失或损害，我们概不负责。

      </li>
      <li class="bold">5、第三方内容

      </li>
      <li>5.1 TURF7接收多个供应商的订阅、评论和内容。某些第三方产品供应商有关订阅、评论及内容需要你同意额外条款条件。如你不接受相关第三方条款条件，请不要使用相关订阅、评论或内容。

      </li>
      <li>5.2 TURF7对任何第三方订阅、评论和内容概不负责。

      </li>
      <li>5.3 终端用户有关使用英国赛马订阅、评论与内容的条款条件载于附录三中规定的条款条件。

      </li>
      <li>5.4 TURF7不允许任何员工、与员工有联系或与第三方服务供应商（由TURF7全权决定）有联系的任何人参与第三方服务供应商提供服务给TURF7的市场或活动中的投注/博彩。如TURF7 认为出现了这类投注/博彩，TURF7拥有绝对酌情决定权，让这类投注/博彩失效。

      </li>
      <li>5.5 网站包含的第三方网站和资源链接，仅供参考。TURF7无法控制这些网站或资源的内容，对这些网站或资源或你使用它们可能造成的任何损失或损害概不负责。第三方网站链接不代表对第三方网站、产品或服务的认可（如适用）。

      </li>
      <li class="bold">6、错误

      </li>
      <li>6.1 TURF7对投注或博彩错误概不负责，包括：（i）TURF7错误陈述了相关赔率/价差/差点/总数/套现金额；（ii）TURF7在已关闭或暂停市场中继续接受投注或博彩；（iii）TURF7错误计算或支付结算金额；或（iv）包含、涵盖或使用的任何游戏或产品中，随机数生成器或支付表出现的任何错误。

      </li>
      <li>6.2 不正确价格——赛事开始前、赛事进行当中或赛后，如出现明显错误，赌注仍有效，以TURF7修改后的价格结算。凡修改价格不到1 / 1000，投注无效。如赛事开始前有足够时间，TURF7将努力联系客户，我们拥有绝对酌情权，允许取消投注。

      </li>
      <li>6.3 错误计数/比赛赌率/价差/差点/总数——赛事开始前、进行当中或赛后，如出现明显错误，投注仍有效，以TURF7修改价格按计数、比赛赌率、价差、差点或总数结算，但以下情况除外：

      </li>
      <li>i）修改价格不到1 / 1000，投注无效。

      </li>
      <li>ii）根据计数、比赛赌率线、价差、差点或总数下定的投注，投注时其结果已知，则赌注无效。

      </li>
      <li>6.4 不正确套现金额——赛事开始前、进行当中或赛后，如客户兑现了不正确的现金数额（由于基础价格错误），投注仍有效，将按照正确数额重新结算，除非结果已知，投注将无效。

      </li>
      <li>6.5 赛事开始前如有足够时间，TURF7将努力联系客户，我们拥有绝对酌情权，允许取消投注。

      </li>
      <li>6.6 不正确设备——在同一设备名字中援引错误玩家或团队，所有投注无效。TURF7拥有绝对酌情权，全权决定。

      </li>
      <li>6.7 错误参与者——如比赛或活动中引用了错误参与者，下在参与者身上的投注无效；其他参与者的赌注也可能无效。TURF7拥有绝对酌情权，全权决定。

      </li>
      <li>6.8 晚押注——不管任何原因，比赛或活动开始后，赛事前赌注无意中被接受了，赌注将按照下列方式结算：

      </li>
      <li>i）如活动和交易出现在赛事进行当中，投注仍有效，按投注时修改价格结算（修改价格低于1 / 1000的赌注无效），除非结果已知，投注无效。

      </li>
      <li>ii）如活动和交易不是出现在赛事进行当中，只要选定参与者或团队没有实质优势（如评分，对方罚下场等），投注仍有效。如有实质优势，无论输赢，TURF7有权让投注无效。投注结果已知时再下注，包括赛事进行当中，投注无效。

      </li>
      <li>6.9 明显错误——最高奖金——下注可以赢得的最高金额有明显错误，修改价格为MYR1000，除非原始赌注预期中奖金额高于MYR1000。这种情况下，修改价格基础上的下注中奖金额将等于原始赌注中奖金额，任何多余赌金无效。

      </li>
      <li class="bold">7、其他 &nbsp;

      </li>
      <li>7.1 TURF7积极监测网站来往流量。如证据表明出现自动或机械活动，TURF7有权自行决定封锁访问。

      </li>
      <li>7.2 在某些司法管辖区，TURF7有权限制网站所有或部分访问。

      </li>
      <li>7.3 TURF7可随时以任何理由改变或修改网站提供的产品。

      </li>
      <li>7.4 由于网站维护和/或网站产品修改或变化，网站所有或部分内容有时不可用。

      </li>
      <li class="bold">F、我们的责任

      </li>
      <li>1．因网站或其内容（包括操作或传输延迟或中断，数据丢失或误用，通讯或线路故障，任何个人错误使用网站或其内容或内容的任何错误或遗漏）产生或与网站或其内容相关的损害、责任或损失，TURF7概不负责。

      </li>
      <li>2．TURF7尽力确保网站信息正确，但TURF7不保证网站信息与资料的准确性或完整性。网站可能包含印刷错误或其他错误，或过时信息。TURF7没有义务更新资料。网站信息与资料“照实”提供，不附带任何条件、保证或其他任何条款。因此，法律允许最大范围内，TURF7向你提供网站服务，不做任何所有陈述、明示或暗示保证、条件和其他条款，要不是这样，条款条件本应该对网站有影响。

      </li>
      <li>3.这些条款条件下，TURF7对你应承担的债务总额不超过：

      </li>
      <li>（a）你账户下定的投注和/或博彩金额，相关投注/博彩或产品产生的债务；

      </li>
      <li>（b）适用货币金额，如我们压错金额。

      </li>
      <li>（c）MYR1000，有关其他债务。

      </li>
      <li>4．TURF7对合约、侵权（包括过失）或违反法定义务或以下任何其他行为活动（无论是直接发生还是间接发送）概不负责：

      </li>
      <li>（a）利润损失；

      </li>
      <li>（b）业务损失；

      </li>
      <li>（c）收入损失；

      </li>
      <li>（d）机会损失；

      </li>
      <li>（e）数据损失；

      </li>
      <li>（f）商誉或声誉损失；

      </li>
      <li>（g）任何特殊的、间接或间接损失，无论这类损失是否是在条款条件生效之日起各方考虑之中。

      </li>
      <li>5．F章节内容不应限制TURF7支付客户奖金或其他适当款项的责任，以此处条款条件规定及附录二中有关产品最高奖金规定为准。

      </li>
      <li>6．这些条款条件不能排除或限制TURF7以下责任：

      </li>
      <li>（i）TURF7过失致人死亡或人身伤害；

      </li>
      <li>（ii）欺诈或虚伪陈述；

      </li>
      <li>（iii）适用法律范围内不能排除或限制的任何责任。

      </li>
      <li class="bold">G、我们的知识产权

      </li>
      <li>1．网站内容受国际版权法和其他知识产权法保护。这些产权的所有者是TURF7、其分支机构或其他授权第三方。

      </li>
      <li>2．网站提到的所有产品和公司名称及标志分属各自所有者包括TURF7的商标、服务标志或交易名称。

      </li>
      <li>3．除了需要为投注或博彩而使用产品外，未经我们书面同意，不得以任何方式转载或存储、修改、复制、转发、上传、发布、传送或传播网站内容，或把网站包括文本、图形、视频、信息、编码和/或软件纳入其他任何网站或任何公共或私人的电子检索系统或服务。

      </li>
      <li>4．如果你使用某一功能，允许上传资料、信息、评论、文章或其他内容到网站（“用户内容”），那么用户内容视为非机密、非专有，TURF7有权出于任何目的使用、复制、传播及透露用户内容给第三方。如第三方声称你发布或上传到网站的用户内容侵犯了他们的知识产权或隐私权，TURF7亦有权向第三方透露你的身份。TURF7有权删除、修改或编辑你发布或上传到网站的用户内容。

      </li>
      <li>5．严格禁止任何商业用途或开发网站或内容。

      </li>
      <li class="bold">H、其他条款

      </li>
      <li>1．这些条款条件，隐私政策、Cookies政策、规则及其明确提及的任何文件和网站上发布的任何准则或规则构成了各方之间的完整协议与共识，取代各方当事人有关合约标的先前任何协议。你承认并同意，接受并签署这些条款条件、隐私政策，Cookies政策、规则及其明确提及的任何文件和网站上发布的任何准则或规则，你不依赖这些规定，不得修改任何人员（无论是否是协议当事人）的任何声明、表示、保证、理解、承诺或担保（无论是疏忽或无意做出），除了在此明文列出外。本条款不得限制或排除欺诈或欺骗性误述产生的任何责任。

      </li>
      <li>2．根据这些条款条件或法律，任何延迟、失效或遗漏（全部或部分）履行、行使或执行任何权利、权力、特权、索赔或法律救济均不得被视为或理解为放弃权利、权力、特权、索赔或法律救济，或放弃任何其他有关讨论情形的权利、权力、特权、索赔明或法律救济，或放弃在任何其他情况下随时或行为发生后诉诸法庭执行的任何其他权利、权力、特权、索赔或法律救济。

      </li>
      <li>3．条款条件规定的权利和法律救济具有累积性（除非条款条件另有规定），包括适用法律的任何其他权利或法律救济。

      </li>
      <li>4．如法院或拥有合法管辖权的行政机构认为条款条件中的规定无效或不可执行，该无效或不可执行条款不得影响条款条件中其他规定条款，其他条款仍充分有效。

      </li>
      <li>5．根据条款条件，为了保障TURF7权益及转移或授予TURF7的利益，确保TURF7权益利益及其他得到保护和巩固，充分落实条款条件，你应主动或被动执行所有文件，主动或被动地进一步履行TURF7不时合理要求的所有与条款条件一致的行为和事项。

      </li>
      <li>6．这些条款条件在各方之间不能形成或视为形成一种合伙、合资或委托代理关系，任何一方无权以任何方式约束其他当事人，除非条款条件中另有明文规定。

      </li>
      <li>7．TURF7不得违反条款条件，对因超出其合理控制范围内的事件、情况或行为包括（但不仅限于）电信网络故障、电力故障、第三方计算机硬件或软件故障、火灾、闪电、爆炸、水灾、恶劣天气情况、劳资纠纷或停工、恐怖活动与政府或其他主管当局行为而造成的延迟履约或未能履约概不负责。 这种情况下，履约时间应延长一段时间，延长时间相当于延迟履约或未能履约的时间。

      </li>
      <li>8．TURF7可以任何其他方式转让、转移、委任、再授权或处理这些条款条件，或向其他当事人包括TURF7集团内的任何公司分包条款条件中的任何权利与义务。

      </li>
      <li>9．条款条件下的任何通知必须以书面形式，英语书写，由专人直接送达，通过一级邮寄、记录派递或挂号邮寄或航空邮寄、电子邮件或传真方式送至：（a）如通知寄给TURF7，条款条件开头写明的或网站上显示的相关TURF7公司地址；及
        （b）如TURF7发出通知给你，根据客户注册程序（包括你已通知TURF7的细节修改内容）。通知应被视为已收到：
        （a）如送达时亲自收取；
        （b）如以一级邮寄方式、记录派递或挂号邮寄发出，寄出日期后第二天早上9点30分（格林威治时间）；
        （c）如以预付航空邮递发出，寄出日期后第五天早上9点30分（格林威治时间）；
        （d）如以电子邮件发送，发送时；
        （e）如以传真方式发送，发送人发送时。

      </li>
      <li>10．附录、隐私政策、Cookies政策、规则及其明确提及的任何文件和网站上发布的任何准则或规则构成条款条件的组成部分，与条款条件正文内容一样明确规定，具有效力。如条款条件正文部分与附录、隐私政策、Cookies政策、规则及其明确提及的任何文件和网站上发布的任何准则或规则不一致，以正文为准，除非另有说明。
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="form-check col align-self-start">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        我已阅读，理解并接受这些条款和条件以及游戏规则
      </label>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-5">
     <button routerLink="/racing" type="button" class="btn btn-primary btn-block">同意</button>
    </div>
    <div class="col-5">
      <button routerLink="/login" type="button" class="btn btn-block">不同意</button>
    </div>
  </div>
</div>
