<!--成交单-->
<div style="border-bottom: 2px dashed #c9dce6;padding-bottom: 2px;margin-bottom:2px;" class="container pending-bets">
  <div style="background-color:rgb(51,81,96);line-height:30px;color:white;border-bottom: 1px solid white;"
       class="pending-bets-head row">
    <div class="col">Confirmed Win</div>
  </div>
  <div [hidden]="confirmedBetsService.confirmedBets.length>0"  class="row" style="line-height:38px;background-color:#D1D9DC;color:#1b3b4d;font-size: 12px;"><div class="col">No pending bets.</div></div>
  <div [ngStyle]="{backgroundColor: item.ticketType=='eat'? '#f2dcdc': '#d6e9f3'}"
       *ngFor="let item of confirmedBetsService.confirmedBets"
       style="border-bottom: 1px solid white;font-size: 12px;padding-top:5px;padding-bottom: 5px;"
       class="pending-bets-item row">
    <div style="line-height:1.3;" class="col-8">
      <div style="font-weight: bold;">{{item.runnerName}}</div>
      <div><span style="color: #e90002;font-weight: bold;">({{item.gameRules==1 ? 'Win Only' : 'Place Only'}} ,{{item.ticketType}}) </span>Odds:{{item.odds|number:'1.2-2'}}</div>
    </div>
    <div style="font-weight: bold;" class="col-4 align-self-center text-right">{{item.num|number:'1.2-2'}}</div>
  </div>

</div>
