/* You can add global styles to this file, and also import other style files */
html{
  min-height: 100%;
}
body{
  font-family: Tahoma, Geneva, sans-serif, "微软雅黑";
  background:linear-gradient(to bottom,#8595a2, #edf0f0);
}
ul{
  list-style: none;
}
/*赛马游戏整体布局样式*/
.racing-container{
  /*项目宽度*/
  width:1111px;
  margin:0 auto;
}
/*侧边栏*/
.racing-sidebar-left{
  width:340px;
  float: left;
  margin-right: 11px;
}
.racing-sidebar-right{
  width:760px;
  float: left;
}
//全局清楚浮动的类
.clearfix:after{visibility:hidden;clear:both;display:block;content:".";height:0}
.clearfix{*zoom:1}

//文字溢出处理
.tx-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//点击赔率添加阴影效果
.oddShadow {
  -moz-box-shadow:2px 2px 2px gray inset;
  -webkit-box-shadow:2px 2px 2px gray inset;
  box-shadow: 2px 2px 2px gray inset;
}
